include ../config/config
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Webpack Vacío
  body
    -const nombre = 'Usuario'
    h1=`Hola, ${nombre}`
    h2=locals.variableGlobal
    